/* =========================load more========================== */

.btnLoadMore {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 16px;
  width: 126px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btnLoadMore.is-hidden {
  display: none;
}
